.DS_Store
.byebug_history
spec/fixtures/mock-downloads/
coverage/
doc/
.yardoc
spec/fixtures/exports
spec/fixtures/cli_invoked
spec/fixtures/proquest_dissertations/**/*
spec/fixtures/proquest_dissertations_export/**/*
